header{
    width: 100%;
    max-width: 1240px;
    margin-inline: auto;
    padding:20px;
    color:#000;
}
header > div{
    display:flex;
    justify-content: center;
    align-items: center;

}
header div{
    margin-right:auto
}

header ul {
    display: flex;
}

header .logo {
    height: 70px;;
}
header ul a{
    padding: 8px 15px;
    font-weight: 500;
}
header ul a:hover{
    background-color: #cf5950;
    color:#fff
}

@media(max-width:768px){
    header > div{
        flex-direction: column;
    }
    header div{
        margin:unset;
       
    }
    .logo{
        margin-bottom:20px
    }
    header ul a{
        padding-inline:8px;
    }
}