footer{
    padding:40px 20px;
    text-align: center;
    color:#fff;
    background:#000;
}
footer p{
    margin: 10px !important;
}
footer ul li {
    display:inline-block;
    padding-inline:10px;
    text-transform: uppercase;
}

footer ul li:not(:last-child){
    border-right: 1px solid #eee;
}